:root {
    --paragraph-color: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    max-width: 1440px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p, ul {
    margin: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* header */

.header {
width: 100%;
position: sticky;
background-color: #fff;
top: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 100%;
    border-bottom: 1px solid #E7E9FC;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.menu {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #2E2F42;
    display: inline-flex;
    margin-left: 76px;
    gap: 40px;
}

.menu-link {
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.contacts {
    display: inline-flex;
    gap: 40px;
}

.contacts-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* main */

.main-hero {
    background-color: #2E2F42;
}

.main-hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 68px;
    padding-bottom: 68px;
    gap: 48px;
}

.hero {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    color: #fff;
    text-align: center;
    max-width: 496px;
}

.hero-title {
    height: 0;
}

.hero-button {
    border: 4px;
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* advantages section */

.hero-title {
    visibility: hidden;
}

.section-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.section-subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: #2E2F42;
    margin-bottom: 8px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-list-item {
    flex-basis: calc((100% - 24px) / 4);
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

/* our team section */

.our-team {
    background-color: #F4F4FD;
}

.our-team-cards {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.description {
    padding: 32px 16px;
    text-align: center;
}

/* portfolio section */

.portfolio-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item {
    border: 1px solid #E7E9FC;
     max-width: calc((100% - 48px) / 3);;
}

.portfolio-image {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.portfolio-description {
    padding: 32px 16px;
}

/* footer */

.footer {
    background-color: #2E2F42;
}

.footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .logo {
    display: block;
    margin-bottom: 17.5px;
}

.logo-part-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: var(--paragraph-color);
    max-width: 264px;
}
